<app-navbar></app-navbar>
<div class="home-container">
    <div *ngIf="isLoading" class="loading"><p>Carregando...</p></div>
    <div *ngIf="!isLoading" class="page-content">
        <div class="top-options">
            <h1>Adicione seus PETS aqui!</h1>
            <button (click)="openModal()">Adicionar</button>
        </div>
        <div class="pets-grid">
            <div class="pet-card" *ngFor="let pet of pets">
                <div class="card-info">
                    <p class="pet-name">Sobre o <span>{{ pet.nome }}</span>!</p>
                    <div class="pet-info">
                        <p>Cor</p>
                        <span class="info-bold">{{ pet.cor }}</span>
                    </div>
                    <div class="pet-info">
                        <p>Raça</p>
                        <span class="info-bold">{{ pet.raca }}</span>
                    </div>
                    <div class="pet-info">
                        <p>Sexo</p>
                        <span class="info-bold">{{ pet.sexo }}</span>
                    </div>
                </div>
                <div class="card-options">
                    <button class="bg-blue" (click)="editPet()">Editar</button>
                    <button class="bg-red" (click)="removePet(pet.nome)">Excluir</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>

<div class="modal-container" *ngIf="showModal">
    <div class="modal-content">
        <p class="modal-description">Informações do Pet</p>
        <form class="cadastro-form" (submit)="addPet()">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" [(ngModel)]="nome" placeholder="Qual o nome?" required>
            </div>
            <div class="form-group">
                <label for="cor">Cor:</label>
                <input type="text" id="cor" name="cor" [(ngModel)]="cor" placeholder="Qual a cor?" required>
            </div>
            <div class="form-group">
                <label for="raca">Raça</label>
                <input type="text" id="raca" name="raca" [(ngModel)]="raca" placeholder="Qual a raça?" required>
            </div>
            <div class="form-group">
                <label for="sexo">Sexo:</label>
                <input type="text" id="sexo" name="sexo" [(ngModel)]="sexo" placeholder="Qual o sexo?" required>
            </div>
            <div class="modal-options">
                <button class="bg-red" type="submit" [disabled]="!nome || !cor || !raca || !sexo">Adicionar Pet!</button>
                <button class="bg-blue" (click)="closeModal()">Fechar</button>
            </div>
        </form>
    </div>
</div>
