<app-navbar></app-navbar>
<div class="home-container">
    <div *ngIf="isLoading" class="loading"><p>Carregando...</p></div>
    <div *ngIf="!isLoading" class="page-content">
        <div class="top-options">
            <h1>Adicione seus PETS aqui!</h1>
            <button (click)="openModal()">Adicionar</button>
        </div>
        <div class="pets-grid">
            <div class="pet-card" *ngFor="let pet of pets">
                <div class="card-info">
                    <p class="pet-name">Sobre o <span>{{ pet.name }}</span>!</p>
                    <div class="pet-info">
                        <p>Cor</p>
                        <span class="info-bold">{{ pet.color }}</span>
                    </div>
                    <div class="pet-info">
                        <p>Raça</p>
                        <span class="info-bold">{{ pet.race }}</span>
                    </div>
                    <div class="pet-info">
                        <p>Sexo</p>
                        <span class="info-bold">{{ pet.sex }}</span>
                    </div>
                </div>
                <div class="card-options">
                    <button class="bg-blue" (click)="editPet(pet.name)">Editar</button>
                    <button class="bg-red" (click)="removePet(pet.name)">Excluir</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>

<div class="modal-container" *ngIf="showModal">
    <div class="modal-content">
        <p class="modal-description">Informações do Pet</p>
        <form class="cadastro-form" (submit)="addPet()">
            <div class="form-group">
                <label for="name">Nome:</label>
                <input type="text" id="name" name="name" [(ngModel)]="name" placeholder="Qual o nome?" required>
            </div>
            <div class="form-group">
                <label for="color">Cor:</label>
                <input type="text" id="color" name="color" [(ngModel)]="color" placeholder="Qual a cor?" required>
            </div>
            <div class="form-group">
                <label for="race">Raça</label>
                <input type="text" id="race" name="race" [(ngModel)]="race" placeholder="Qual a raça?" required>
            </div>
            <div class="form-group">
                <label for="sex">Sexo:</label>
                <input type="text" id="sex" name="sex" [(ngModel)]="sex" placeholder="Qual o sexo?" required>
            </div>
            <div class="modal-options">
                <button class="bg-red" type="submit" [disabled]="!name || !color || !race || !sex">{{ editMode ? 'Atualizar Pet!' : 'Adicionar Pet!' }}</button>
                <button class="bg-blue" (click)="closeModal()">Fechar</button>
            </div>
        </form>
    </div>
</div>
